In [138]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [139]:
data=pd.read_csv('applications data.csv')
data.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
0,1,20160101,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,2765,19070626,1797504115,0
1,2,20160101,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1
2,3,20160101,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,19070626,216537580,0
3,4,20160101,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0
4,5,20160101,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,3173,19980315,6101082272,0

In [140]:
## fix datatype
data['date']=pd.to_datetime(data.date.astype(str).apply(lambda x:x[:4]+'-'+x[4:6]+'-'+x[6:]))
data['zip5']=data['zip5'].apply(lambda x:'{0:0>5}'.format(x))

##fix frivolous values
##ssn
data.loc[data.ssn==999999999,'ssn']=-data.loc[data.ssn==999999999,'record']
data['ssn']=data['ssn'].apply(lambda x:'{0:0>9}'.format(x))
##address
data.loc[data.address=='123 MAIN ST','address']=\
        data.loc[data.address=='123 MAIN ST','record'].apply(lambda x:str(x)+' RECORD')
##dob
data.loc[data.dob==19070626,'dob']=-data.loc[data.dob==19070626]['record']
data['dob']=data['dob'].apply(lambda x:'{0:0>8}'.format(x))

##homephone
data.loc[data.homephone==9999999999,'homephone']=-data[data.homephone==9999999999]['record']
data['homephone']=data['homephone'].apply(lambda x:'{0:0>10}'.format(x))

## Create entities

In [141]:
data['name']=data['firstname']+data['lastname']
data['fulladdress']=data['address']+data['zip5']
data['name_dob']=data['name']+data['dob']
data['name_fulladdress']=data['name']+data['fulladdress']
data['name_homephone']=data['name']+data['homephone']
data['fulladdress_dob']=data['fulladdress']+data['dob']
data['fulladdress_homephone']=data['fulladdress']+data['homephone']
data['dob_homephone']=data['dob']+data['homephone']
data['homephone_name_dob']=data['homephone']+data['name_dob']

In [143]:
data.iloc[:,np.r_[3:9,12:15]].columns

Index(['firstname', 'lastname', 'address', 'zip5', 'dob', 'homephone',
       'name_dob', 'name_fulladdress', 'name_homephone'],
      dtype='object')

array([3, 4, 6, 7, 8])